In [2]:
import numpy as np
import pandas as pd

In [3]:
walmart = pd.read_csv("../files/archive/WMT_1970-10-01_2025-01-31.csv")

In [4]:
walmart.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1972-08-25  0.021159  0.021566  0.021159  0.021484   0.011639  7526400
1  1972-08-28  0.021484  0.021647  0.021403  0.021403   0.011595  2918400
2  1972-08-29  0.021322  0.021322  0.021159  0.021159   0.011463  5836800
3  1972-08-30  0.021159  0.021159  0.020996  0.021159   0.011463  1228800
4  1972-08-31  0.020996  0.020996  0.020833  0.020833   0.011286  2611200